@page
@model Validation.Pages.Students.CreateModel
@{
    ViewData["Title"] = "Create";
}


<form method="post">

    <div>
        <label asp-for=Student.FirstName />
        <input asp-for=Student.FirstName />
    </div>


    <div>
        <label asp-for=Student.LastName />
        <input asp-for=Student.LastName />
    </div>


    <div>
        <label asp-for=Student.StudentID />
        <input asp-for=Student.StudentID />
    </div>


    <div>
        <label asp-for=Student.DOB/>
        <input type="datetime" asp-for=Student.DOB />
    </div>
    


    
    

    <div asp-validation-summary=All></div>

    <span asp-validation-for=Student.StudentID></span>

    <button type="submit">Press Me</button>

</form>

