@page
@model Validation.Pages.CreateStudentsModel
@{
    ViewData["Title"] = "Create";
}


<form method="post">

    <div>
        <label asp-for=Student.FirstName></label>
        <input asp-for=Student.FirstName>
    </div>


    <div>
        <label asp-for=Student.LastName></label>
        <input asp-for=Student.LastName />
    </div>


    <div>
        <label asp-for=Student.StudentID></label>
        <input asp-for=Student.StudentID />
    </div>


    <div>
        <label asp-for=Student.DOB></label>
        <input asp-for=Student.DOB />
    </div>


    <div>
        <label asp-for=Student.NrModules></label>
        <input asp-for=Student.NrModules />
    </div>


    <div>
        <label asp-for=Student.Height></label>
        <input asp-for=Student.Height />
    </div>


    <div>
        <label asp-for=Student.Email></label>
        <input asp-for=Student.Email />
    </div>


    <div>
        <label asp-for=Student.EmailConfirm></label>
        <input asp-for=Student.EmailConfirm />
    </div>



    <div asp-validation-summary=All></div>

    <span asp-validation-for=Student.StudentID></span>


    <button type="submit">Press Me</button>

</form>

